img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

ul {
    list-style: none;
}

hr {
    float: left;
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.App {
    width: 70%;
    margin-inline: auto;
}
.container {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
}

.first-element {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.empty-img {
    outline: tomato 2px solid;
}

.second-element {
    padding-inline: 2rem;
    background-color: #f2f2f7;
}
