body {
    margin: 0;
}

img,
.btn,
.second-element {
    border-radius: 0.5rem;
}

img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

@media (max-width: 1300px) {
    img {
        width: 10rem;
        height: 10rem;
    }
}

@media (max-width: 470px) {
    img {
        width: 7rem;
        height: 7rem;
    }
}

hr {
    float: left;
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

input {
    text-align: center;
    border-radius: 0.2rem;
}

textarea {
    border-radius: 0.2rem;
    margin-bottom: 2rem;
    height: 5rem;
}

.s-txt {
    font-size: 0.8rem;
    text-align: center;
    color: #4f2683;
}

.header {
    background-color: #4f2683;
    text-align: center;
    color: #f2f2f7;
}

.header h1 {
    margin-top: 0;
}

.App {
    width: 70%;
    margin-inline: auto;
}
.container {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
}

@media (max-width: 830px) {
    .container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .first-element {
        justify-items: center;
    }
}

.first-element {
    display: flex;
    justify-content: space-between;
}

.empty-img {
    outline: tomato 2px solid;
}

.second-element {
    padding-inline: 2rem;
    background-color: #f2f2f7;
}

.btn {
    background-color: #4f2683;
    color: #f2f2f7;
    font-size: 1.3rem;
    padding: 0.3rem;
    width: 100%;
    border: none;
    margin-bottom: 2rem;
}

.footer {
    margin-top: 2rem;
    background-color: #4f2683;
    text-align: center;
    color: #f2f2f7;
    position: absolute;
    width: 100%;
}
